.contenido{
    display: grid;
    align-items: flex-start;
    gap: 5rem;
}

@media (min-width:768px) {
  .contenido{
    grid-template-columns: 3fr 2fr;
  }  
}

.carrito {
    padding: 3rem;
}

.producto {
  display: grid;
  grid-template-columns: 1fr 3fr ;
  gap: 4rem;
  align-items: center;
  padding: 3rem;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}

.producto:last-of-type {
  border-bottom: none;
}

.producto p{
  margin: 0 0 1rem 0;
}

.select{
  all: unset;
  border: 1px solid #cfcfcf;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

.producto span{
  font-weight: 900;
  font-size: 3.2rem;
}

.resumen {
    background-color: hwb(0 89% 11%);
    padding: 3rem;
    border-radius: 1rem;
    position: sticky;
    top: 3rem
}

.nombre{
  font-weight: 600;
  font-size: 4.2rem;
}

.cantidad{
  
}

.precio{
  font-weight: 600;
  color: var(--primary);
}
.precio .textoPrecio{
  color: var(--black);
}

.subtotal{
  font-size: 2.2rem;
}

/* Boton eliminar*/
.btn_eliminar {
  all: unset;
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: var(--white);
  transition: background-color 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_text {
  display: inline-block;
  font-weight: bold;
  color: black;
}

.btn_eliminar:hover {
  cursor: pointer;
  background-color: #cfcfcf;
}